<div class="login d-flex justify-content-center align-items-center m-auto">
    
    <div class="row">
        <div class="col-md-6 p-0">
            <div class="overlay"></div>
            <img src="../../../../assets/desola-lanre-ologun-zYgV-NGZtlA-unsplash.jpg" alt="">
        </div>
        <div class="col-md-6">
         <div class="h-100 d-flex align-items-center justify-content-center w-100">
            <div class="box w-75">
                <h2>{{"auth.login" | translate}} </h2>
                <form [formGroup]="loginForm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{"auth.email" | translate}}</mat-label>
                        <input matInput formControlName="email"  placeholder="{{'auth.email' | translate}}">
                        <mat-error>{{"auth.required" | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{"auth.password" | translate}}</mat-label>
                        <input matInput formControlName="password" type="password" placeholder="{{'auth.password' | translate}}">
                        <mat-error>{{"auth.required" | translate}}</mat-error>
        
                    </mat-form-field>
                </form>
                <div class="d-flex justify-content-center">
                    <button   mat-raised-button color="warn" (click)="login()">{{"auth.login" | translate}}</button>
                </div>
            </div>
         </div>
        </div>
    </div>
 
</div>